* {
  box-sizing: border-box;
  outline: none;
}
body {
  margin: 0;
  font-family: Sans-serif;
  overflow: scroll;

}
.dashboard {
  height: 100vh;
  display: flex;
}
.left {
  height: 100%;
  display: flex;
}

.wrapper {
  padding: 0 25px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.items {
  margin-top: 50px;
}

.items > img {
  margin-bottom: 25px;
}

.menu {
  margin-top: 20px;
}
.navigation {
  width: 270px;
  border-right: 1px solid #ddd;
}


.wrapper2 {
  padding: 0 25px;
  height: 100%;
  overflow: auto;
  background: #040622;
  border-color: #040622;
    color: white;
    width: 305px;
}

.folders {
  margin-top: 30px;
  color: #b8b8b8;
  font-size: 12px;
}
.folder-icons {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.icon-name1 {
  margin-left: 10px;
  color: #fff;
  font-size: 14px;
}

.icon-name {
  margin-left: 10px;
  color: grey;
  font-size: 14px;
}
.menu-img{
  margin-top: 10px;
    position: absolute;
  left: 227px;
    top: 10px;
    z-index: 2;
}

.avatar > img {
  width: 35px;
  border-radius: 10px;
}
.section1 {
  margin-top: 25px;
  margin-bottom: 10px;
}

.btn {
  border-radius: 3px;
  border: 1px;
  padding: 0 10px 0 30px;
  height: 30px;
  font-weight: bold;
  position: relative;
}

.buton1 {
  background-color: #f8f1ff;
  color: #a84bfe;
}
.buton2 {
  background-color: #fff1f6;
  color: #fe4b85;
}
.buton3 {
  background-color: #eef0ff;
  color: #2632fe;
}
.buton4 {
  background-color: #ebfbf8;
  color: #01c991;
}
.tag {
  position: absolute;
  left: 8px;
  top: 10px;
}
.flag-img{
  width: 20px;
  height: 20px;
 
}

.buton-span {
  border-radius: 15px;
  padding: 5px 10px;
  border: 1px;
  color: white;
  background-color: #fe365c;
  box-shadow: 0px 0px 10px 2px #f7bfc9;
  margin-left: 70px;
}
.online {
  position: absolute;
  top: -5px;
  right: -5px;
  border: 4px solid #fbfcf8;
  box-sizing: unset;
  background-color: #02c997;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.avatar {
  position: relative;
}
.red {
  background-color: #fe4663;
}

.big-inbox {
  font-size: 25px;
  font-weight: 500;
}
.right-side {
  background-color: #f2f3f7;
  width: 100%;
  padding: 8px 30px;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 25px;
 
}
.right-body {
  flex: 1;
  display: flex;
  overflow: hidden;
}
.top-bar {
  display: flex;
  align-items: center;
  text-align: center;
}
.top-bar-justify {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.top-bar-items {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 180px;
}
.profile2 > img {
  border-radius: 50%;
  width: 28x;
  height: 28px;
  border: 2px solid white;
  margin-left: 25px;
  margin-right: 5px;
}
.profile2 {
  display: flex;
  align-items: center;

  width: 120px;
}
.icon-name5 {
  font-size: 13px;
  color: grey;
}
.new-hr {
  border: 0.6px solid #ddd;
  margin-bottom: 25px;
}
.notif {
  position: relative;
}
.pink {
  background-color: #fe96db;
  width: 7px;
  height: 7px;
  margin: -3px;
}



.right-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.new:hover {
  background-color: white;
}
.new {
  border-radius: 4px;
  border: none;
  width: 40px;
  height: 30px;
  background-color: #edeef5;
}

.has-search .text {
  padding-left: 30px;
  margin-left: 45px;
}
.form {
  display: flex;
  align-items: center;
}
.para-text{
  font-size: 14px;
  color: gray;
}
.discount-text{
  font-size: 12px;
  margin-top: 60px;
  background-color: rgb(218, 248, 218);
  border-radius: 50px;
  text-align: center;
  margin-right: 5px;
}
.discount-text1{
  font-size: 12px;
  margin-top: 60px;
  background-color: rgb(244, 208, 208);
  border-radius: 50px;
  text-align: center;
  margin-right: 5px;
}
.text {
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 280px;
  height: 30px;
  background-color: #edeef5;
}

.ml{
  margin-left: 34px;
}
.corner{
  border-radius: 25px;
}
.end-text{
  
}
.scroll-cards {
  width: 370px;
  height: 100%;
  overflow: auto;

  padding: 20px 0px 5px 0px;
}
.card {
  background-color: white;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 1px 0px 0px 27px;
  transition: 0.3s;
}
.card:hover {
  box-shadow: 5px 1px 20px 1px #ddd;
  transform: scale(0.96);
}

.person {
  width: 25px;
  height: 25px;
  border-radius: 10px;
  text-align: center;
  color: white;
  padding: 5px 3px 0px;
}


.inside-img > img {
  width: 100px;
  border-radius: 10px;
  margin-top: 20px;
}
.inside-img > img:hover {
  transform: scale(0.95);
}

.icon-fill{
  border: 1px solid black;
  border-radius: 25px;
}
.section-one{
  margin-left: 20px;
}
.text-count{
  margin-left: 10px;
  font-size: 12px;
  margin-top: 5px;
  background-color: rgb(218, 248, 218);
  border-radius: 50px;
  text-align: center;
  padding: 3px;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
